---
import Card from "../components/Card.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { getPages } from "../utils/sanity";

const pages = await getPages();
---

<Layout title="Welcome to Astro.">
  <section>
    {pages.length ? pages.map((page) => <Card page={page} />) : <Welcome />}
  </section>
</Layout>
