---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getPage, getPages } from "../utils/sanity";

const pages = await getPages();
const filteredPages = pages.filter(page => page.tags && page.tags.includes('Featured'));
---

<Layout title="Jerry Yarnetsky, MLS">

  <h1 class="page__title">Web Services Librarian at Miami University Libraries</h1>

  <section>
    <h2 class="section__title">Featured Projects</h2>



  </section>
</Layout>

<style>
   h1.page__title {
      font-family: var(--font-family-sans);
      font-size: var(--font-size-7);
      line-height: var(--line-height-8);
      margin: var(--space-2) 0;
      padding: var(--space-4) var(--space-5);
      font-weight: 800;
      border-bottom: var(--border-1) solid var(--blue-600);
    }
  </style>