---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getPages } from "../utils/sanity";


const pages = await getPages();
const filteredPages = pages.filter(page => page.tags && page.tags.includes('Projects'));
---

<Layout title="Jerry Yarnetsky: Projects">

  <section>
    <h2 class="section__title">Projects</h2>

    {filteredPages.map((page) => <Card page={page} />)}
  </section>
</Layout>

