---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getPages } from "../utils/sanity";


const pages = await getPages();
const filteredPages = pages.filter(page => page.tags.includes('Service'));
---

<Layout title="Jerry Yarnetsky: Service">

  <section>
    {filteredPages.map((page) => <Card page={page} />)}
  </section>
</Layout>

