---
---

<nav class="container">
  <ul class="">
    <li><a href="/about">About</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/service">Service</a></li>
    <li><a href="/scholarship">Scholarship</a></li>
    </ul>
  </nav>

<style>
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--space-2);
    margin: var(--space-0);
    border-bottom: 1px solid var(--blue-600);
    background-color: #F7F5E7;

    & li {
        list-style: none;
        font-size: var(--space-4);
        font-weight: 400;
        font-family: var(--font-family-sans);
      }

    & li a {
        font-family: var(--font-family-sans);
        font-weight: 800;
        text-decoration: none;
        display: block;
        color:#154076;
        padding: var(--space-3) var(--space-4);
    } 

    & li a:hover {
        background-color: var(--blue-600);
        color: #fff;
        text-decoration: underline;
    } 
}
  @media (min-width: 575px) {
    

  }
</style>
