---
import { urlFor } from "../utils/image";

const { asset, alt, caption } = Astro.props.node;

const url = urlFor(asset).url();
const webpUrl = urlFor(asset).format("webp").url();
---

<picture>
  <source srcset={webpUrl} type="image/webp" />
  <img class="responsive__img" src={url} alt={alt} />
  <p class="responsive__caption">{caption}</p>
</picture>